---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Marquesina from "../components/Marquesina.astro";
import ModalDestacado from "../components/ModalDestacado.astro";
import PopupCompetencia from "../components/PopupCompetencia.astro";
import "bootstrap/dist/css/bootstrap.css";
---

<Layout>
	<ModalDestacado/>
	<Marquesina />
  <Header />
	<PopupCompetencia />
	<main style="padding-top: 140px;"></main>
</Layout>
