---

---
  <div class="menu-blur"></div>
<header>
  <article class="header-content">
    <section class="logo-container">
      <a href="./"
        ><img src="./../src/assets/imgs/logo-degradado.svg" alt="Logo" /></a
      >
    </section>
    <div>
      <section class="country-container">
        <form action="country.php" method="post">
          <section class="country-select">
            <aside class="select-box">
              <article class="select" id="select9">
                <div class="select-content" id="select-content9">
                  <img
                    src="./../../src/assets/imgs/arg-flag.svg"
                    alt="..."
                    class="item-list-first"
                    id="argentina-select"
                  />
                </div>
                <img
                  class="arrow-select-country9"
                  src="./../../src/assets/icons/arrow-down-black.svg"
                  alt="Arrow down icon"
                />
              </article>

              <article class="options" id="options9">
                <aside data-country="arg" class="option">
                  <img
                    src="./../src/assets/imgs/arg-flag.svg"
                    alt="..."
                    class="item-list"
                    id="argentina"
                  />
                  <p>Argentina</p>
                </aside>
                <aside data-country="bol" class="option">
                  <img
                    src="./../src/assets/imgs/bol-flag.svg"
                    alt="..."
                    class="item-list"
                    id="bolivia"
                  />
                  <p>Bolivia</p>
                </aside>

                <aside data-country="chi" class="option">
                  <img
                    src="./../src/assets/imgs/chi-flag.svg"
                    alt="..."
                    class="item-list"
                    id="chile"
                  />
                  <p>Chile</p>
                </aside>
                <aside data-country="col" class="option">
                  <img
                    src="./../src/assets/imgs/col-flag.svg"
                    alt="..."
                    class="item-list"
                    id="colombia"
                  />
                  <p>Colombia</p>
                </aside>
                <aside data-country="mex" class="option">
                  <img
                    src="./../src/assets/imgs/mex-flag.svg"
                    alt="..."
                    class="item-list"
                    id="mexico"
                  />
                  <p>México</p>
                </aside>
                <aside data-country="per" class="option">
                  <img
                    src="./../src/assets/imgs/per-flag.svg"
                    alt="..."
                    class="item-list"
                    id="peru"
                  />
                  <p>Perú</p>
                </aside>
                <aside data-country="uru" class="option">
                  <img
                    src="./../src/assets/imgs/uru-flag.svg"
                    alt="..."
                    class="item-list"
                    id="uruguay"
                  />
                  <p>Uruguay</p>
                </aside>
              </article>
            </aside>
          </section>
        </form>
      </section>
      <section class="menu-container">
        <label class="label-menu" for="menuBotton">
          <div>
            <span class="span span1"></span>
            <span class="span span2"></span>
            <span class="span span3"></span>
          </div>
        </label>
        <input
          type="checkbox"
          name="menuBotton"
          class="menuBotton"
          id="menuBotton"
        />
      </section>
    </div>
  </article>
  <div class="navContainer">
    <nav class="menuContainer">
      <ul class="menuDropdown">
        <li class="menuItem dropdown-item">
          <a class="menuLink">Integraciones</a>
          <ul class="drop-item-menu">
            <li class="drop-item">
              <a href="./integracion-mercadolibre.html" class="drop-link">
                <img src="./../src/assets/icons/meli-icon.svg" alt="" />
                 Mercado Libre</a
              >
            </li>
            <li class="drop-item">
              <a href="./integracion-mercadopago.html" class="drop-link">
                <img src="./../src/assets/icons/mpago-icon.svg" alt="" />Mercado
                Pago</a
              >
            </li>
            <li class="drop-item">
              <a href="./integracion-mercadoshops.html" class="drop-link">
                <img
                  src="./../src/assets/icons/mshops-icon.svg"
                  alt=""
                />Mercado Shops</a
              >
            </li>
            <li class="drop-item">
              <a href="./integracion-tiendanube.html" class="drop-link"
                ><img
                  src="./../src/assets/icons/tnube-icon.svg"
                  alt=""
                />Tiendanube</a
              >
            </li>
            <li class="drop-item">
              <a href="./integracion-woocommerce.html" class="drop-link">
                <img src="./../src/assets/icons/woo-violet.svg" alt="" />
                 Woocommerce</a
              >
            </li>
            <li class="drop-item">
              <a href="./integracion-empretienda.html" class="drop-link">
                <img
                  class="variant"
                  src="./../src/assets/icons/empre-icon.svg"
                  alt=""
                />
                 Empretienda</a
              >
            </li>
          </ul>
        </li>
        <li class="menuItem">
          <a class="menuLink" href="./planes.html">Planes</a>
        </li>
        <li class="menuItem">
          <a class="menuLink" href="./prensa.html">Blog</a>
        </li>
        <li class="menuItem">
          <a class="menuLink" href="contacto.html">Contacto</a>
        </li>

        <li class="itemButtons">
          <button
            class="btn-init-free"
            id="btn-init-session"
            onclick="window.location.href ='/login/index.html?'+reference"
          >
            Iniciá sesión
          </button>
          <button
            class="btn-init-session"
            id="btn-init-free"
            onclick="window.location.href ='/login/register.html?'+reference"
          >
            Creá tu cuenta gratis
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    position: fixed;
    top: 40px;
    z-index: 6;
    width: 100%;
    background: #fff;
  }
  @media screen and (min-width: 1024px) {
    header {
      display: flex;
      justify-content: center;
      box-shadow: 0px 0px 7px rgba(82, 80, 80, 0.6156862745);
    }
  }
  header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    padding: 8px 0 8px 17px;
    gap: 20px;
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.2);
  }
  @media screen and (min-width: 1024px) {
    header .header-content {
      justify-content: center;
      z-index: 1;
      height: 60px;
      box-shadow: none;
    }
  }
  header .header-content .logo-container img {
    width: 180px;
  }
  header .header-content div {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
  }
  header .header-content div .menu-container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
  }
  header .header-content div .menu-container label {
    padding: 8px 19px 0 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  @media screen and (min-width: 1024px) {
    header .header-content div .menu-container label {
      display: none;
    }
  }
  header .header-content div .menu-container label div {
    position: relative;
    padding-top: 8px;
    transition: all 0.5s linear;
  }
  header .header-content div .menu-container label div span {
    height: 2px;
    width: 25px;
    background-color: #6097ff;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
  }
  header .header-content div .menu-container label div .span1 {
    top: 0px;
  }
  header .header-content div .menu-container label div .span2 {
    top: 10px;
  }
  header .header-content div .menu-container label div .span3 {
    top: 20px;
  }
  header .header-content div .menu-container .menuBotton {
    display: none;
  }
  header .navContainer {
    position: absolute;
    top: 46px;
    right: -600px;
    transition: all 0.5s ease-out;
    z-index: 9;
  }
  @media screen and (min-width: 1024px) {
    header .navContainer {
      width: auto;
      position: relative;
      right: 0 !important;
      top: 0;
    }
  }
  header .navContainer .menuContainer {
    height: 100vh;
    background-color: #fff;
  }
  @media screen and (min-width: 1024px) {
    header .navContainer .menuContainer {
      height: 60px;
      width: 100%;
      top: 0;
      background: transparent;
    }
  }
  header .navContainer .menuContainer .menuDropdown {
    color: #000000;
    list-style: none;
    padding: 0;
  }
  @media screen and (min-width: 1024px) {
    header .navContainer .menuContainer .menuDropdown {
      padding-right: 15px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 60px;
    }
  }
  header .navContainer .menuContainer .menuDropdown .menuItem {
    font-size: 1.7rem;
    line-height: 7rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  @media screen and (min-width: 1024px) {
    header .navContainer .menuContainer .menuDropdown .menuItem {
      height: 100%;
      display: flex;
      align-items: center;
      line-height: 3rem;
    }
  }
  header .navContainer .menuContainer .menuDropdown .menuItem:hover {
    background-color: #d7e5ff;
  }
  header .navContainer .menuContainer .menuDropdown .menuItem .menuLink {
    padding: 0 15px;
    font-weight: 600;
    font-size: 18px;
    color: #405789;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  @media screen and (min-width: 1024px) {
    header .navContainer .menuContainer .menuDropdown .menuItem .menuLink {
      font-weight: 500;
      font-size: 15px;
    }
  }
  header .navContainer .menuContainer .menuDropdown .dropdown-item {
    /*  &:hover > .drop-item-menu {
    display: block;
  } */
    padding: 0 !important;
  }
  @media screen and (min-width: 1024px) {
    header .navContainer .menuContainer .menuDropdown .dropdown-item {
      position: relative;
    }
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .dropdown-item
    .menuLink:after {
    content: url(./../assets/icons/arrow-down-black.svg);
    margin-left: 10px;
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .dropdown-item
    .drop-item-menu {
    list-style: none;
    padding: 0;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    display: none;
  }
  @media screen and (min-width: 1024px) {
    header
      .navContainer
      .menuContainer
      .menuDropdown
      .dropdown-item
      .drop-item-menu {
      position: absolute;
      top: 60px;
      left: 0;
      box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
      width: 220px;
    }
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .dropdown-item
    .drop-item-menu:hover {
    display: block;
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .dropdown-item
    .drop-item-menu.active {
    display: block;
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .dropdown-item
    .drop-item-menu
    .drop-item {
    padding: 0px 8px;
  }
  @media screen and (min-width: 1024px) {
    header
      .navContainer
      .menuContainer
      .menuDropdown
      .dropdown-item
      .drop-item-menu
      .drop-item {
      padding: 12px 8px;
    }
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .dropdown-item
    .drop-item-menu
    .drop-item:hover {
    background-color: #d7e5ff;
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .dropdown-item
    .drop-item-menu
    .drop-item
    .drop-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #405789;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
  }
  @media screen and (min-width: 1024px) {
    header
      .navContainer
      .menuContainer
      .menuDropdown
      .dropdown-item
      .drop-item-menu
      .drop-item
      .drop-link {
      font-weight: 500;
      font-size: 15px;
    }
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .dropdown-item
    .drop-item-menu
    .drop-item
    .drop-link
    img {
    width: 38px;
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .dropdown-item
    .drop-item-menu
    .drop-item
    .drop-link
    img.variant {
    width: 30px;
    margin-right: 5px;
    margin-left: 3px;
  }
  header .navContainer .menuContainer .menuDropdown .itemButtons {
    padding: 0 15px;
  }
  @media screen and (min-width: 1024px) {
    header .navContainer .menuContainer .menuDropdown .itemButtons {
      display: flex;
      gap: 20px;
    }
  }
  header .navContainer .menuContainer .menuDropdown .itemButtons button {
    display: block;
    padding: 6px 0;
    width: 240px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1024px) {
    header .navContainer .menuContainer .menuDropdown .itemButtons button {
      width: 130px;
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1366px) {
    header .navContainer .menuContainer .menuDropdown .itemButtons button {
      width: 190px;
    }
  }
  @media screen and (min-width: 1500px) {
    header .navContainer .menuContainer .menuDropdown .itemButtons button {
      width: 200px;
    }
  }
  header .navContainer .menuContainer .menuDropdown .itemButtons button:focus,
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .itemButtons
    button:focus-visible {
    outline: none;
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .itemButtons
    .btn-init-free {
    background-color: #fff;
    color: #6097ff;
    border: #6097ff 2px solid;
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .itemButtons
    .btn-init-free:focus,
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .itemButtons
    .btn-init-free:focus-visible {
    outline: none;
    border: 0;
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .itemButtons
    .btn-init-free:hover {
    color: #4871bf;
    border: #4871bf 2px solid;
  }
  @media screen and (min-width: 1024px) {
    header
      .navContainer
      .menuContainer
      .menuDropdown
      .itemButtons
      .btn-init-free {
      font-size: 18px;
    }
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .itemButtons
    .btn-init-session {
    background-color: #fff;
    background-color: #6097ff;
    color: #fff;
    border: 0;
    outline: none;
    font-weight: 600;
  }
  @media screen and (min-width: 1024px) {
    header
      .navContainer
      .menuContainer
      .menuDropdown
      .itemButtons
      .btn-init-session {
      width: 220px;
      font-size: 18px;
    }
  }
  header
    .navContainer
    .menuContainer
    .menuDropdown
    .itemButtons
    .btn-init-session:hover {
    background-color: #4871bf !important;
  }

  .country-container form .country-select {
    text-align: center;
  }
  .country-container form .country-select .select-box {
    border-radius: 8px;
    margin: auto;
    position: relative;
  }
  .country-container form .country-select .select-box:hover {
    background: #f2f7ff;
  }
  .country-container form .country-select .select-box .select {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease all;
    margin-bottom: 3px;
    padding: 6px 13px;
    position: relative;
    box-shadow: none;
  }
  .country-container
    form
    .country-select
    .select-box
    .select.active
    .arrow-select-country9 {
    margin-left: 5px;
  }
  .country-container
    form
    .country-select
    .select-box
    .select
    .select-content
    p {
    display: none;
  }
  .country-container
    form
    .country-select
    .select-box
    .select
    .select-content
    .item-list-first,
  .country-container
    form
    .country-select
    .select-box
    .select
    .select-content
    .item-list {
    width: 37px;
    margin: 0;
    color: #727587;
  }
  @media screen and (min-width: 1024px) {
    .country-container
      form
      .country-select
      .select-box
      .select
      .select-content
      .item-list-first,
    .country-container
      form
      .country-select
      .select-box
      .select
      .select-content
      .item-list {
      font-size: 1.8rem;
    }
  }
  .country-container
    form
    .country-select
    .select-box
    .select
    .arrow-select-country9 {
    width: 15px;
    margin-left: 5px;
  }
  .country-container form .country-select .select-box .options {
    position: absolute;
    right: 0;
    z-index: 170;
    width: 200px;
    margin-top: 7px;
    background: #f0f0f0;
    border-radius: 8px;
    display: none;
  }
  .country-container form .country-select .select-box .options.active {
    display: block;
    animation: fadeIn 0.3s forwards;
    filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.4039215686));
    box-shadow: none;
  }
  .country-container form .country-select .select-box .options .option {
    padding: 6px 13px;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: start;
  }
  .country-container form .country-select .select-box .options .option:hover {
    background: #d7e5ff;
  }
  .country-container
    form
    .country-select
    .select-box
    .options
    .option
    .item-list {
    color: #405789;
    font-size: 1.8rem;
    margin: 0;
    text-align: start;
    width: 43px;
  }
  .country-container form .country-select .select-box .options .option p {
    font-weight: 500;
    font-size: 18px;
    color: #405789;
  }

  .country-container1 form .country-select {
    text-align: center;
  }
  .country-container1 form .country-select .select-box {
    border-radius: 8px;
    margin: auto;
    position: relative;
  }
  .country-container1 form .country-select .select-box:hover {
    background: #f2f7ff;
  }
  .country-container1 form .country-select .select-box .select {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease all;
    margin-bottom: 3px;
    padding: 6px 13px;
    position: relative;
    box-shadow: none;
  }
  .country-container1
    form
    .country-select
    .select-box
    .select.active
    .arrow-select-country9 {
    margin-left: 5px;
  }
  .country-container1
    form
    .country-select
    .select-box
    .select
    .select-content
    .item-list-first,
  .country-container1
    form
    .country-select
    .select-box
    .select
    .select-content
    .item-list {
    width: 37px;
    margin: 0;
    color: #727587;
  }
  @media screen and (min-width: 1024px) {
    .country-container1
      form
      .country-select
      .select-box
      .select
      .select-content
      .item-list-first,
    .country-container1
      form
      .country-select
      .select-box
      .select
      .select-content
      .item-list {
      font-size: 1.8rem;
    }
  }
  .country-container1
    form
    .country-select
    .select-box
    .select
    .arrow-select-country9 {
    width: 15px;
    margin-left: 5px;
  }
  .country-container1 form .country-select .select-box .options {
    position: absolute;
    right: 0;
    z-index: 170;
    width: 200px;
    margin-top: 7px;
    background: #f0f0f0;
    border-radius: 8px;
    display: none;
  }
  .country-container1 form .country-select .select-box .options.active {
    display: block;
    animation: fadeIn 0.3s forwards;
    filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.4039215686));
    box-shadow: none;
  }
  .country-container1 form .country-select .select-box .options .option {
    padding: 6px 13px;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: start;
  }
  .country-container1 form .country-select .select-box .options .option:hover {
    background: #d7e5ff;
  }
  .country-container1
    form
    .country-select
    .select-box
    .options
    .option
    .item-list {
    color: #405789;
    font-size: 1.8rem;
    margin: 0;
    text-align: start;
    width: 43px;
  }
  .country-container1 form .country-select .select-box .options .option p {
    font-weight: 500;
    font-size: 18px;
    color: #405789;
  }

  .menu-active {
    right: 0 !important;
  }

  .efects-menu .span1 {
    transform: rotate(45deg) translateX(-3px) translateY(20px) !important;
    transition: all 0.3s linear;
  }
  .efects-menu .span2 {
    opacity: 0;
    transition: all 0.2s linear;
  }
  .efects-menu .span3 {
    transform: rotate(-45deg) translateX(-6px) translateY(-16px) !important;
    transition: all 0.3s linear;
  }

  .menu-blur {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    display: none;
  }

  .active {
    display: block;
  }
</style>
<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const select9 = document.querySelector("#select9");
    const options9 = document.querySelector("#options9");
    const selectContent9 = document.querySelector("#select-content9 img");
    const selectContent100 = document.querySelector("#select-content9");
    const arrow9 = document.querySelector(".arrow-select-country9");

    document.querySelectorAll("#options9 > .option").forEach((option) => {
      option.addEventListener("click", (e) => {
        e.preventDefault();
        const country = e.currentTarget.dataset.country;
        selectContent9.setAttribute(
          "src",
          `./../../src/assets/imgs/${country}-flag.svg`
        );
        select9.classList.toggle("active");
        options9.classList.toggle("active");
        arrow9.classList.toggle("rotate");
      });
    });

    select9.addEventListener("click", () => {
      select9.classList.toggle("active");
      options9.classList.toggle("active");
      arrow9.classList.toggle("rotate");
    });

    document.addEventListener("click", (event) => {
      if (!event.target.closest(".select-box")) {
        options9.classList.remove("active");
        arrow9.classList.remove("rotate");
      }
    });

    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape") {
        options9.classList.remove("active");
        arrow9.classList.remove("rotate");
      }
    });
  });
  document.addEventListener("click", function (event) {
    // Verificar si el elemento clickeado tiene la clase 'label-menu'
    if (
      event.target.classList.contains("label-menu") ||
      event.target.closest(".label-menu")
    ) {
      // Alternar la clase 'active' en elementos con la clase 'menu-blur'
      document.querySelectorAll(".menu-blur").forEach((element) => {
        element.classList.toggle("active");
      });

      // Alternar la clase 'menu-active' en elementos con la clase 'navContainer'
      document.querySelectorAll(".navContainer").forEach((element) => {
        element.classList.toggle("menu-active");
      });

      // Alternar la clase 'efects-menu' en los divs dentro de elementos con la clase 'label-menu'
      document.querySelectorAll(".label-menu div").forEach((element) => {
        element.classList.toggle("efects-menu");
      });
    }
  });

  // Evento de clic en .dropdown-item
  document.addEventListener("click", function (event) {
    
    if (event.target.classList.contains("menuLink")) {
      var dropdownMenu = document.querySelectorAll(".drop-item-menu");
      dropdownMenu.forEach(function (menu) {
        menu.classList.toggle("active");
      });
    }
  });

  // Evento de clic en el documento
  document.addEventListener("click", function (event) {
    var dropdownMenu = document.querySelectorAll(".drop-item-menu");
    

    // Comprobar si el clic fue fuera de .drop-item-menu y .dropdown-item
    if (
      !event.target.closest(".drop-item-menu") &&
      !event.target.closest(".dropdown-item")
    ) {
      dropdownMenu.forEach(function (menu) {
        menu.classList.remove("active");
        
      });
    }
  });

  // Evento de tecla (Escape)
  document.addEventListener("keydown", function (event) {
    if (event.keyCode === 27) {
      // Tecla Escape
      var dropdownMenu = document.querySelectorAll(".drop-item-menu");
      dropdownMenu.forEach(function (menu) {
        menu.classList.remove("active");
      
        
      });
    }
  });
</script>
