---
---

<section class="popoptop-login landind">
  <p>
    <button class="btn-call-landing" id="btn-call-landing">
      <a href="tel:+5491132444130"
        >¡Hablemos!
        <img src="./../src/assets/icons/call-icon.svg" alt="Phone Icon" />
        +54 9 11 3244-4130</a
      >
    </button>
  </p>
</section>
<section class="btn-wsp btn-wsp-landing">
  <article class="destacado-competencia-container">
    <aside class="btn-close-destacado">
      <button id="close-destacado-desktop">
        <svg
          width="19"
          height="19"
          viewBox="0 0 19 19"
          fill="none"

        >
          <path
            d="M1 1L18 18"
            stroke="#A1A3AF"
            stroke-width="2"
            stroke-linecap="round"></path>
          <path
            d="M18 1L1 18"
            stroke="#A1A3AF"
            stroke-width="2"
            stroke-linecap="round"></path>
        </svg>
      </button>
    </aside>
    <div class="ancor-destacado">
      <aside class="title-destacado">
        <img src="./../src/assets/imgs/destacado-img.svg" alt="..." />
        <p>Analizá gratis a tu competencia de Mercado Libre</p>
      </aside>
      <aside class="input-popup-container">
        <section class="country-container3">
          <form action="country-number.php" method="post">
            <section class="country-select">
              <aside class="select-box variante-register11">
                <article class="select" id="select14" data-country="arg">
                  <div class="select-content" id="select-content14">
                    <img
                      src="./../../src/assets/imgs/arg-flag.svg"
                      alt="..."
                      class="item-list-first"
                      id="argentina-select"
                    />
                  </div>
                  <img
                    class="arrow-select-country14"
                    src="./../../src/assets/icons/arrow-down-black.svg"
                    alt="Arrow down icon"
                  />
                </article>

                <article class="options" id="options14">
                  <aside
                    data-countrycompet="arg"
                    data-country="arg"
                    class="option"
                  >
                    <img
                      src="./../src/assets/imgs/arg-flag.svg"
                      alt="..."
                      class="item-list"
                      id="argentina"
                    />
                  </aside>
                  <aside
                    data-countrycompet="bol"
                    data-country="bol"
                    class="option"
                  >
                    <img
                      src="./../src/assets/imgs/bol-flag.svg"
                      alt="..."
                      class="item-list"
                      id="bolivia"
                    />
                  </aside>
                  <aside
                    data-countrycompet="bra"
                    data-country="bra"
                    class="option"
                  >
                    <img
                      src="./../src/assets/imgs/bra-flag.svg"
                      alt="..."
                      class="item-list"
                      id="brasil"
                    />
                  </aside>
                  <aside
                    data-countrycompet="chi"
                    data-country="chi"
                    class="option"
                  >
                    <img
                      src="./../src/assets/imgs/chi-flag.svg"
                      alt="..."
                      class="item-list"
                      id="chile"
                    />
                  </aside>
                  <aside
                    data-countrycompet="col"
                    data-country="col"
                    class="option"
                  >
                    <img
                      src="./../src/assets/imgs/col-flag.svg"
                      alt="..."
                      class="item-list"
                      id="colombia"
                    />
                  </aside>
                  <aside
                    data-countrycompet="spa"
                    data-country="MLA"
                    class="option"
                  >
                    <img
                      src="./../src/assets/imgs/spa-flag.svg"
                      alt="..."
                      class="item-list"
                      id="esp"
                    />
                  </aside>
                  <aside
                    data-countrycompet="usa"
                    data-country="usa"
                    class="option"
                  >
                    <img
                      src="./../src/assets/imgs/usa-flag.svg"
                      alt="..."
                      class="item-list"
                      id="usa"
                    />
                  </aside>
                  <aside
                    data-countrycompet="mex"
                    data-country="mex"
                    class="option"
                  >
                    <img
                      src="./../src/assets/imgs/mex-flag.svg"
                      alt="..."
                      class="item-list"
                      id="mexico"
                    />
                  </aside>
                  <aside
                    data-countrycompet="per"
                    data-country="per"
                    class="option"
                  >
                    <img
                      src="./../src/assets/imgs/per-flag.svg"
                      alt="..."
                      class="item-list"
                      id="peru"
                    />
                  </aside>
                  <aside
                    data-countrycompet="uru"
                    data-country="uru"
                    class="option"
                  >
                    <img
                      src="./../src/assets/imgs/uru-flag.svg"
                      alt="..."
                      class="item-list"
                      id="uruguay"
                    />
                  </aside>
                  <aside
                    data-countrycompet="ven"
                    data-country="ven"
                    class="option"
                  >
                    <img
                      src="./../src/assets/imgs/ven-flag.svg"
                      alt="..."
                      class="item-list"
                      id="venezuela"
                    />
                  </aside>
                </article>
              </aside>
            </section>
          </form>
        </section>
        <div>
          <input
            id="input-search-compet"
            type="text"
            placeholder="Apodo o URL de la publicación"
          />

          <button class="inputSearch1" id="inputSearch1">
            <img src="./../src/assets/icons/lupa-icon.svg" alt="..." />
          </button>
        </div>
        <aside class="compet-result1 d-none">
          <p class="competidor-name">
            SLP Bikes <span>(Tienda Oficial)</span>
          </p>
          <p class="competidor-level">
            <img src="./../src/assets/icons/medalla-meli.svg" alt="..." />

            MercadoLíder Gold
          </p>
        </aside>
        <aside class="compet-not-result1 d-none">
          <p class="competidor-name">
            <span>No se encontró ningún vendedor.</span> Intentá con otro apodo o
            publicación.
          </p>
        </aside>
      </aside>
    </div>
  </article>
  <a
    href="https://api.whatsapp.com/send?phone=+5491132444130&text=Hola, tengo una duda sobre la plataforma."
    target="_blank"
  >
    <img src="./../src/assets/imgs/wsp.png" alt="Whatsapp Logo" />
  </a>
</section>

<style>
  .popoptop-login.landind {
    width: 100%;
    color: #fff;
    font-size: 1.4rem;

    font-weight: 500;
    text-align: center;
    padding: 5px 0 3px;
    height: 40px;
    position: relative;
    z-index: 160;
    background-color: #6679a1;
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
  }

  .popoptop-login.landind button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .popoptop-login.landind p{
    margin:0;
  }
  .popoptop-login.landind button:focus,
  .popoptop-login.landind button:focus-visible {
    border: none;
    outline: none;
  }
  .popoptop-login.landind button a {
    color: #fff;
    text-decoration: none;
  }
  .popoptop-login.landind button a img {
    width: 24px;
  }

  .btn-wsp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 160;
  }

  .btn-wsp a img {
    width: 57px;
  }


  @media screen and (min-width: 1024px) {
  .big-blur-more-seconds .modal-descatado,
  .big-blur-error .modal-descatado {
    width: 470px;
  }
}
.big-blur-more-seconds .modal-descatado button,
.big-blur-error .modal-descatado button {
  border: 0;
  outline: none;
  background: transparent;
  position: absolute;
  right: 35px;
  top: 15px;
}
@media screen and (min-width: 1024px) {
  .big-blur-more-seconds .modal-descatado button,
  .big-blur-error .modal-descatado button {
    right: 50px;
    top: 30px;
  }
}
.big-blur-more-seconds .modal-descatado p,
.big-blur-error .modal-descatado p {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #405789;
}
@media screen and (min-width: 1024px) {
  .big-blur-more-seconds .modal-descatado p,
  .big-blur-error .modal-descatado p {
    font-size: 18px;
  }
}

.destacado-competencia-container {
  display: none;
  position: relative;
  width: 410px;
  height: 170px;
  box-shadow: 4px 4px 20px rgba(64, 87, 137, 0.3);
  border-radius: 25px 0 0 25px;
  background: #ffffff;
  text-align: center;
  margin-left: 0px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .destacado-competencia-container {
    margin-left: -20px;
    display: block;
  }
}
.destacado-competencia-container .btn-close-destacado {
  position: absolute;
  right: 20px;
  top: 15px;
}
.destacado-competencia-container .btn-close-destacado button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.destacado-competencia-container .ancor-destacado {
  border-radius: 25px 0 0 25px;
  text-decoration: none;
  transition: all 0.2s linear;
  height: 100%;
  padding: 0px 20px 0 30px;
}
.destacado-competencia-container .ancor-destacado:hover {
  background-color: #ffe1c7;
}
.destacado-competencia-container .ancor-destacado .title-destacado {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #405789;
  padding-top: 20px;
  text-align: start;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 11px;
}
.destacado-competencia-container .ancor-destacado .input-popup-container {
  display: flex;
  gap: 5px;
  align-items: center;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select {
  text-align: center;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box {
  width: 80px !important;
  border-radius: 8px;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .select {
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 40.5px !important;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease all;
  padding: 6px 8px;
  position: relative;
  box-shadow: none;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .select .arrow-select-country12 {
  width: 15px;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .select .select-content {
  display: flex;
  border-color: transparent;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .select .select-content p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: #727587;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .select .select-content .item-list-first,
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .select .select-content .item-list {
  font-size: 1.4rem;
  margin: 0;
  color: #727587;
}
@media screen and (min-width: 1024px) {
  .destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .select .select-content .item-list-first,
  .destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .select .select-content .item-list {
    font-size: 1.8rem;
  }
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .select img {
  width: 35px;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .arrow-select-country14 {
  width: 20px !important;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .options {
  position: absolute;
  z-index: 170;
  width: 130px;
  margin-top: 7px;
  background: #f0f0f0;
  border-radius: 8px;
  display: none;
  max-height: 100px;
  overflow-y: scroll;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .options.active {
  display: block;
  animation: fadeIn 0.3s forwards;
  filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.4039215686));
  box-shadow: none;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .options .option {
  padding: 6px;
  display: flex;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .options .option:hover {
  background: #d7e5ff;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .options .option .item-list {
  color: #405789;
  font-size: 1.8rem;
  margin: 0 0 0 5px;
  text-align: start;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .country-container3 .country-select .select-box .options .option p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: #727587;
}
.destacado-competencia-container .ancor-destacado .input-popup-container div {
  border: 1px solid #4871bf;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.destacado-competencia-container .ancor-destacado .input-popup-container div input {
  border-radius: 10px 0 0 10px;
  border: 0;
  height: 34px;
  background-color: #fff;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: #304b7f;
  padding-left: 11px;
}
@media screen and (min-width: 1024px) {
  .destacado-competencia-container .ancor-destacado .input-popup-container div input {
    width: 230px;
  }
}
.destacado-competencia-container .ancor-destacado .input-popup-container div input:focus, .destacado-competencia-container .ancor-destacado .input-popup-container div input:focus-visible {
  outline: none;
}
.destacado-competencia-container .ancor-destacado .input-popup-container div input::placeholder {
  font-weight: 400;
  font-size: 13px;
  margin-left: 7px !important;
  color: #727587;
}
.destacado-competencia-container .ancor-destacado .input-popup-container div #inputSearch1 {
  height: 40px;
  width: 48px;
  background: #4871bf;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 7px 7px 0;
  border: 0;
  outline: none;
  cursor: pointer;
}
.destacado-competencia-container .ancor-destacado .input-popup-container div #inputSearch1:hover {
  background-color: #6097ff;
}
.destacado-competencia-container .ancor-destacado .input-popup-container div #inputSearch1 img {
  width: 30px;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .compet-result1 {
  top: 160px;
  width: 390px;
  padding: 10px 0 10px 5px;
  z-index: 5;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(64, 87, 137, 0.3);
  transition: all 0.2s linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .compet-result1:hover {
  background-color: #eaeaea;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .compet-result1 .competidor-name {
  font-weight: 500;
  font-size: 16px;
  color: #323547;
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .destacado-competencia-container .ancor-destacado .input-popup-container .compet-result1 .competidor-name {
    margin: 0;
  }
}
.destacado-competencia-container .ancor-destacado .input-popup-container .compet-result1 .competidor-name span {
  font-weight: 300;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .compet-result1 .competidor-level {
  font-weight: 400;
  font-size: 16px;
  color: #6d757b;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .compet-result1 .competidor-level img {
  margin-left: 2px;
  vertical-align: bottom;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .compet-not-result1 {
  z-index: 5;
  position: absolute;
  top: 160px;
  background: #fff;
  width: max-content;
  border-radius: 10px;
  padding: 10px 12px;
  box-shadow: 4px 4px 20px rgba(64, 87, 137, 0.3);
  transition: all 0.2s linear;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .compet-not-result1:hover {
  background-color: #eaeaea;
}
.destacado-competencia-container .ancor-destacado .input-popup-container .compet-not-result1 .competidor-name {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  color: #323547;
}
@media screen and (min-width: 1024px) {
  .destacado-competencia-container .ancor-destacado .input-popup-container .compet-not-result1 .competidor-name {
    font-size: 16px;
  }
}
.destacado-competencia-container .ancor-destacado .input-popup-container .compet-not-result1 .competidor-name span {
  font-weight: 500;
}

.btn-close-destacado {
  position: absolute;
  right: 20px;
  top: 15px;
}
.btn-close-destacado button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.destacado-content {
  border-radius: 0px 25px 25px 0px;
  text-decoration: none;
  transition: all 0.2s linear;
  display: block;
  height: 100%;
  padding: 0 10px;
}
.destacado-content .img-destacado img {
  margin: 22px 0 12px;
}
.destacado-content .title-destacado {
  font-size: 19.6583px;
  line-height: 23px;
  color: #405789;
  margin-bottom: 11px;
}
.destacado-content .desc-destacado {
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #ff9840;
}
.destacado-content .btn-container {
  margin-top: 16px;
}
.destacado-content .btn-container .ancor-destacado-mobile {
  text-decoration: none;
  background-color: #6097ff;
  padding: 7px;
  text-align: center;
  width: 175px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  display: block;
  transition: al 0.2s linear;
}
.destacado-content .btn-container .ancor-destacado-mobile:hover {
  background-color: #4871bf;
}
</style>
<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const select14 = document.querySelector("#select14");
    const options14 = document.querySelector("#options14");
    const selectContent14 = document.querySelector("#select-content14 img");
    const selectContent100 = document.querySelector("#select-content14");
    const arrow14 = document.querySelector(".arrow-select-country14");

    document.querySelectorAll("#options14 > .option").forEach((option) => {
      option.addEventListener("click", (e) => {
        e.preventDefault();
        const country = e.currentTarget.dataset.country;
        selectContent14.setAttribute(
          "src",
          `./../../src/assets/imgs/${country}-flag.svg`
        );
        select14.classList.toggle("active");
        options14.classList.toggle("active");
        arrow14.classList.toggle("rotate");
      });
    });

    select14.addEventListener("click", () => {
      select14.classList.toggle("active");
      options14.classList.toggle("active");
      arrow14.classList.toggle("rotate");
    });

    document.addEventListener("click", (event) => {
      if (!event.target.closest(".select-box")) {
        options14.classList.remove("active");
        arrow14.classList.remove("rotate");
      }
    });

    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape") {
        options14.classList.remove("active");
        arrow14.classList.remove("rotate");
      }
    });
  });


  // Evento de clic para #close-destacado-desktop
document.getElementById("close-destacado-desktop").addEventListener("click", function() {
  document.querySelectorAll(".destacado-competencia-container").forEach(function(element) {
    element.classList.add("d-none");
  });
  document.querySelectorAll(".popup-competencia").forEach(function(element) {
    element.classList.remove("d-none");
  });
  document.querySelector("main").style.paddingTop = "145px";
  document.querySelectorAll(".banner-meli-content article").forEach(function(element) {
    element.style.marginTop = "0";
  });
});

// Evento de clic para #close-destacado-mobile
document.getElementById("close-destacado-mobile").addEventListener("click", function() {
  document.querySelectorAll(".big-blur").forEach(function(element) {
    element.classList.add("d-none");
  });
  document.querySelectorAll(".popup-competencia").forEach(function(element) {
    element.classList.remove("d-none");
  });
  document.querySelector("main").style.paddingTop = "140px";
});

</script>